[Main]
# The directory where generated static HTML files will be written.
outdir: out
# Where input txt files will be searched (non-recursively).
indir: in
# Where the design templates live.
designdir: design
# Limit the length of the index page to N posts. 0 means infinite.
indexlen: 0
# Limit the length of the RSS feeds to N posts. 0 means infinite.
rsslen: 10
# Limit the length of a tag page to N posts. 0 means infinite.
taglen: 0
# Title of the blog.
title: Journal
# Provide snips in the templates.
snips: True
# URL of the blog, used in the RSS feeds.
baseurl: http://artagnon.com/
# Separator string in the txt files between the header and the contents.
separator: ---
# Source of the generated permalink, in case the permalink header is missing
# Possible values: title, filename
permalink: title
# Don't write back certain headers. This is useful in case you don't plan to
# customize the generated permalink.
#nowriteback: permalink
